.directory
*~
*.o
boot/*~
boot/*.o
boot/boot
system
Image
system.map
tmp.s
kernel/*~
kernel/*.o
fs/*~
fs/*.o
lib/*~
lib/*.o
mm/*~
mm/*.o
init/*~
init/*.o
tools/build
tools/system.bin
tools/system
tools/*~
tools/*.o
include/*~
include/asm/*~
include/linux/*~
include/bits/*~
include/sys/*~
